@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Upheaval';
    src: url('../assets/Upheaval/upheavtt.ttf');
}

@font-face {
    font-family: 'VT323';
    src: url('../assets/VT323/VT323-Regular.ttf');
}