@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Upheaval';
    src: url('../public/upheavtt.ttf');
}

@font-face {
    font-family: 'VT323';
    src: url('../public/VT323-Regular.ttf');
}

.text-secondary {
    @apply font-VT323 text-text-light-gray;
}
